/* * {
    border: 1px solid #00000020;
} */

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Khula';
    src: url('../fonts/Khula/Khula-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Megrim';
    src: url('../fonts/Megrim/Megrim-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

p {
    margin: 0px;
}

body {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
        "page-header"
        "page-mainer"
        "page-footer";
    justify-content: center;
}

header {
    grid-area: page-header;
    max-width: 1440px;
}

main {
    grid-area: page-mainer;
    max-width: 1440px;
    min-height: calc(3399px - 800px - 778px);
    display: flex;
    flex-direction: column;
}

footer {
    grid-area: page-footer;
    max-width: 1440px;
    width: 100vw;
}
